name: 05 - 1 - Event Filters and Activity Types

on:
  pull_request:

jobs:
  echo:
    runs-on: ubuntu-latest

    steps:
      - run: echo "This job runs on pull request opened or syncronized events"